* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background: #ededed;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
}

.form-register h1 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    color: indianred;
}

.form-register h3{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.controls {
    width: 100%;
    background: #f8fbff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: rgb(197, 122, 122);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.form-register u {
    color: #02407b;
}

.form-login {
    width: 400px;
    background: #ededed;
    padding: 30px;
    margin: auto;
    margin-top: 16px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
}